@font-face {
  font-family: 'Yomogi';
  src: url('~assets/fonts/Yomogi-Regular.ttf') format('truetype');
  font-display: block;
}

html {
  overscroll-behavior: none;
}

.v-application {
  user-select: none;
  font-weight: bold;
}
